.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest) {
        order: 1;
        flex: 0 0 100%; // пойск займёт всю ширину
        background-color: var(--color-grey-light-2); // строка поиска "как бы" без границ
    }


    &__input {
        padding: .7rem 2rem;
        width: 90%;
        
        border-radius: 100px;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus { // при клике окошко увеличивается 
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}